//Configuraciones globales


//Colores
$primario: #24345F;
$secundario: #0F7CBF;
$celesteSA: #9CBCD9;
$rosaSA: #DB255D;
$blanco: white;

$grisOscuro: #363636;
$grisClaro: #d8d8d8;


$google-blue: #4285f4;
$button-active-blue: #1669f2;